# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.venv/

# Downloaded GEO Datasets
GEO_Datasets/
Downloads/

# Genes info
Homo_sapiens.gene_info

# List PubMed IDs
ids.txt

# MeSH vocabulary
desc2025.xml

# Word2Vec model
BioWordVec_PubMed_MIMICIII_d200.vec.bin

# Experimental data
./*.csv

pubtrends
completed_jobs/
