{% extends "base.html" %} {% block title %}PubMed Dataset Explorer - Visualization{% endblock title %} 
{% block head_css_js %}{% endblock head_css_js%}
{% block body %}
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="--bs-breadcrumb-divider: '>';">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">PubMed Dataset Explorer</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{ n_ids }} PubMed IDs</li>
          <li class="breadcrumb-item">{{ n_datasets }} GEO Datasets</li>
        </ol>
      </div>
    </div>
  </nav>
  <main class="container mt-3">
    <div class="card mb-3">
        <div class="card-header">Clustering</div>
        <div class="card-body">
          <strong>Dataset similarity</strong>
          <p>Similar datasets are located close to each other. <br> The color of a point represnts the topic of the dataset.</p>
          <div class="graph">
            {{ clustering_html | safe }}
          </div>
        </div>
      </div>
    </div>
    <div class="card"> 
        <div class="card-header">Topics</div>
        <div class="card-body">
          <strong>Topics</strong>
          <p>A topic is a collection of datasets that focus on a common subject, have elements in common etc.<br> Topics are determined based on text similarity.</p>
          <table class="table">
            <thead>
                <th>#</th>
                <th>Datasets</th>
                <th>Topics</th>
            </thead>
            <tbody>
                {% for index, datasets, color, topics in topic_table %}
                <tr>
                    <td>{{ index }} <i class="fa-solid fa-circle" style="color: {{ color }};"></i></td>
                    <td>{{ datasets }}</td>
                    <td>{{ topics }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </main>
</body>
{% endblock body %}
