#home-card {
  background-image: url("/static/blurred-library-processed.jpg");
}

#id-table-div {
    max-height: 250px;
}

.navbar .breadcrumb {
    margin: 0 7px;
}

.graph {
    max-height: 75vh;
    display: flex;
}

.loading-indicator {
    display: none;
}