#home-card {
  background-image: url("/static/blurred-library-processed.jpg");
}

#id-table-div {
    max-height: 250px;
}

.navbar .breadcrumb {
    margin: 0 7px;
}

.graph {
    max-height: 75vh;
    display: flex;
}

.loading-indicator {
    display: none;
}

#id-table-div table {
    table-layout: fixed;
}

.tab-number {
    font-size: 1.5rem;
    font-weight: bold;
}

.tab-title {
    font-size: 1.2rem;
    text-align: left;
    display: block;
}

.nav-tabs {
    margin-left: 5%;
    margin-top: 32px;
}

.tab-pane {
    padding-left: 5%;
}

#datasets-table tbody tr {
    cursor: pointer;
}